@page "/user/{userName}"

@if (UserToDisplay == null)
{
    <p style="text-align:center;"><em>Loading...</em></p>
}
else
{
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right picture">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="300px" src="@ConvertImageToUrl(UserToDisplay.ProfilePhoto)" alt="Profile picture">
                    
                    <span class="font-weight-bold" style="font-size: 30px; margin-top:10px;">
                        @UserToDisplay.ClientFullName
                    </span>

                    <span class="text-black-50" style="font-size: 20px;">
                        @UserToDisplay.Email
                    </span>

                    @*<div class="mt-5 text-center"><button class="btn btn-primary profile-button custom-btn" type="button">Change picture</button></div>*@
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button custom-btn" type="button">Send invitation</button></div>
                </div>
            </div>
            <div class="col-md-5 border-right">

                <div class="p-3 py-5 information">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Информация профиля</h4>
                    </div>

                    <div class="row mt-2">
                        @*change neme displaying*@
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="@UserToDisplay.ClientFullName.Split(' ')[0]"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="@UserToDisplay.ClientFullName.Split(' ')[1]" placeholder="surname"></div>
                    </div>

                    <div class="row mt-3 inputs">
                        <div class="col-md-12">
                            <label class="labels">Гендер</label>
                            <input type="text" class="form-control" value="@UserToDisplay.ClientGender" placeholder="your zodiac sign">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Образование</label>
                            <input type="text" class="form-control" value="@UserToDisplay.EducationID" placeholder="your zodiac sign">
                        </div>
                        <div class="col-md-12">
                            <label for="labels">Телосложение</label>
                            <input type="text" class="form-control" value="@UserToDisplay.BodyType" placeholder="your zodiac sign">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Дети</label>
                            <input type="text" class="form-control" value="@UserToDisplay.ClientKids" placeholder="your zodiac sign">
                        </div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="enter your city" value="@UserToDisplay.ClientCity"></div>
                        <div class="col-md-12"><label class="labels">Hobbies</label><input type="text" class="form-control" placeholder="Hobbies" value="@UserToDisplay.ClientHobbies"></div>
                        <div class="col-md-12"><label class="labels">Information</label><input type="text" class="form-control" placeholder="Information" value="@UserToDisplay.ClientInformation"></div>                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Date of birth</label><input type="date" id="birthdaytime" name="birthdaytime" value="@UserToDisplay.BirthDate.ToString("yyyy-MM-dd")"></div>
                        <div class="col-md-6"><label class="labels">Zodiac Sign</label><input type="text" class="form-control" value="@CountZodiacSign(UserToDisplay.BirthDate)" placeholder="your zodiac sign"></div>
                    </div>

                    @*<div class="mt-5 text-center"><button class="btn btn-primary profile-button custom-btn" type="button">Save Profile</button></div>*@
                </div>

            </div>
        </div>
    </div>
}

<style>

    .row {
        background-color: #dee8b4 !important;
    }

    .border-right {
        border-right: 0px !important;
    }

    .profile-img-main {
        margin: 25px;
        width: 85%;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }

    .information {
        width: 500px;
        margin-left: 100px;
    }

    .picture {
        margin-top: 25px;
        margin-left: 50px;
    }

    .custom-btn {
        background: #d8bcfc !important;
        border: none !important;
        color: black !important;
        font-weight: 400 !important;
        font-size: 20px !important;
    }

    .inputs {
        height: 600px;
    }

    .row {
        font-family: 'Montserrat', sans-serif;
    }

</style>

@code {
    [Inject]
    public IAgencyApiService AgencyApiService { get; set; }

    [Parameter]
    public string UserName { get; set; }

    public User UserToDisplay { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserToDisplay = await AgencyApiService.GetUserByName(UserName);
    }

    private string CountZodiacSign(DateTime dateToCount)
    {
        int day = dateToCount.Day;
        int month = dateToCount.Month;

        switch (month)
        {
            case 1:
                if (day <= 19)
                    return "Козерог";
                else
                    return "Водолей";
            case 2:
                if (day <= 18)
                    return "Водолей";
                else
                    return "Рыбы";
            case 3:
                if (day <= 20)
                    return "Водолей";
                else
                    return "Овен";
            case 4:
                if (day <= 19)
                    return "Овен";
                else
                    return "Телец";
            case 5:
                if (day <= 20)
                    return "Телец";
                else
                    return "Близнецы";
            case 6:
                if (day <= 20)
                    return "Близнецы";
                else
                    return "Cancer";
            case 7:
                if (day <= 22)
                    return "Рак";
                else
                    return "Лев";
            case 8:
                if (day <= 22)
                    return "Лев";
                else
                    return "Дева";
            case 9:
                if (day <= 22)
                    return "Дева";
                else
                    return "Весы";
            case 10:
                if (day <= 22)
                    return "Весы";
                else
                    return "Скорпион";
            case 11:
                if (day <= 21)
                    return "Скорпион";
                else
                    return "Стрелец";
            case 12:
                if (day <= 21)
                    return "Стрелец";
                else
                    return "Козерог";
        }

        return "";
    }

    private string ConvertImageToUrl(byte[] imageToConvert)
    {
        return "data:image;base64," + Convert.ToBase64String(imageToConvert);
    }
}