<div class="card invitation" style="border-radius: 15px; width: 40%;">
    <div class="card-body p-4">
        <div class="d-flex text-black">

            <div class="flex-shrink-0">
                <img src="@imageUrl"
                     alt="ypu picure is here" class="img-fluid"
                     style="width: 180px; border-radius: 10px;">
            </div>

            <div class="flex-grow-1 ms-3" style="margin-left: 15px;">
                <h5 class="mb-1">Приглашение</h5>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                     style="justify-content: space-between !important;">

                    <div class="header">
                        <div>
                            <p style="font-weight: 700;">От:</p>
                            <p>@Sender</p>
                        </div>

                        <div>
                            <p style="font-weight: 700;">Место:</p>
                            <p>@CurrentInvitation.InvitationPlace</p>
                        </div>
                    </div>

                    <div class="footer">
                        <div>
                            <p style="font-weight: 700;">Кому:</p>
                            <p>@Recipient</p>
                        </div>

                        <div>
                            <p style="font-weight: 700;">Дата:</p>
                            <p>@CurrentInvitation.InvitationDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .invitation {
        font-family: 'Montserrat', sans-serif !important;
        background: #bee0ec;
        border: 0 !important;
        margin-top: 5px;
    }

</style>

@code {
    [Parameter]
    public Invitation CurrentInvitation { get; set; }

    [Parameter]
    public string Recipient { get; set; }

    [Parameter]
    public string Sender { get; set; }

    [Parameter]
    public string imageUrl { get; set; }
}